@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

/* setting 100% vh for body enable submenu display full screen hieght */
body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}

header {
    background: #3D5262;
    display: flex;
    justify-content: space-between;
    /* to prevent displaying scrollbar when setting up animation on sidebar */
    overflow: hidden;
}

nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 66%;
    background: #1D2226;
    height: 100vh;

}
a.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 1em 0.5em 0;
}

.exit {
    width: 2em;
    float: right;
    margin: 0.5em;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 4em;
}

li a {
    text-decoration: none;
    display: block;
    color: #7B8994;
    padding: 0.5em 1em;
}

.open {
    cursor: pointer;
    margin: 0.5em;
}

.active a {
    color: #0c8af1;
    font-weight: bold;
}

li a:hover {
    color: #32383e;
}

.open-nav {
    visibility: unset;
}
.submenu {
    padding: 0 1em;
}
.submenu ul {
    margin: 1em 0 1em;
}

.submenu a {
    color: #7B8994;
    background: none;
    font-weight: bold;
}

.submenu p {
    min-width: 100px;
    padding: 1em;
}
@media only screen and (min-width: 500px){
    .open, .exit {
        display: none;
    }
    nav {
        position: unset;
        visibility: unset;
        height: auto;
        background: none;
        opacity: 1;
    }
    ul {
        display: flex;
        margin-top: auto;
        margin: 0;
        float: right;
        width: auto;
    }
    ul li a{
        color: #ADDBFF;
        padding: 1em;
    }
    header {
        /* display: flex;
        justify-content: space-between; */
        /* menu should be display even if 
        exceeded parent container size */
        overflow: visible;
    }
    .sub {
        position: relative;
    }
    
    .submenu {
        display: none;
    }

    /* on hover sub div, the following style will apply on .submenu */
    .sub:hover .submenu{
        display: flex;
        position: absolute;
        top: 3.3em;
        right: 0;
        background: rgb(248, 247, 247);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.07);
    }

    .submenu ul {
        display: block;
        margin: 1.5em 0 0;
        border-right: 1px solid gray;
    }
}




